In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv('student_performance_dataset.csv')

In [3]:
df=pd.DataFrame(data)
df.head()

,student_id,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level
0,1,93,88,74,50,72,78.35,Safe
1,2,83,41,67,86,80,69.30,At Risk
2,3,69,41,43,65,70,56.35,At Risk
3,4,97,67,77,39,52,70.05,Safe
4,5,62,93,88,66,94,80.35,Safe

In [5]:
df.columns

Index(['student_id', 'attendance_percentage', 'assignment_avg', 'quiz_avg',
       'midterm_score', 'previous_semester_score', 'final_score',
       'risk_level'],
      dtype='object')

In [6]:
df.shape

(200, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   student_id               200 non-null    int64
 1   attendance_percentage    200 non-null    int64
 2   assignment_avg           200 non-null    int64
 3   quiz_avg                 200 non-null    int64
 4   midterm_score            200 non-null    int64
 5   previous_semester_score  200 non-null    int64
 6   final_score              200 non-null    float64
 7   risk_level               200 non-null    object
dtypes: float64(1), int64(6), object(1)
memory usage: 12.6+ KB

In [8]:
df.describe()

,student_id,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,77.885000,67.635000,63.335000,59.930000,68.925000,68.375250
std,57.879185,13.491176,15.711334,16.098715,17.116952,14.659944,6.248079
min,1.000000,55.000000,40.000000,35.000000,30.000000,45.000000,51.650000
25%,50.750000,66.000000,56.750000,50.000000,45.000000,57.000000,64.237500
50%,100.500000,78.500000,69.000000,63.500000,60.000000,70.000000,68.575000
75%,150.250000,90.000000,80.000000,77.250000,74.250000,80.000000,72.937500
max,200.000000,99.000000,94.000000,89.000000,89.000000,94.000000,83.600000

In [9]:
df.dtypes

student_id                   int64
attendance_percentage        int64
assignment_avg               int64
quiz_avg                     int64
midterm_score                int64
previous_semester_score      int64
final_score                float64
risk_level                  object
dtype: object

In [10]:
df.isnull().sum()

student_id                 0
attendance_percentage      0
assignment_avg             0
quiz_avg                   0
midterm_score              0
previous_semester_score    0
final_score                0
risk_level                 0
dtype: int64

In [11]:
df['risk_level'].value_counts()

risk_level
At Risk    124
Safe        76
Name: count, dtype: int64