In [1]:
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('student_performance_dataset.csv')

In [6]:
df_clean=df.copy()
df_clean.head()

,student_id,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level
0,1,93,88,74,50,72,78.35,Safe
1,2,83,41,67,86,80,69.30,At Risk
2,3,69,41,43,65,70,56.35,At Risk
3,4,97,67,77,39,52,70.05,Safe
4,5,62,93,88,66,94,80.35,Safe

In [7]:
df_clean.duplicated().sum()

np.int64(0)

In [8]:
df_clean.drop_duplicates(inplace=True)

In [9]:
df_clean.shape

(200, 8)

In [10]:
df_clean.isnull().sum()

student_id                 0
attendance_percentage      0
assignment_avg             0
quiz_avg                   0
midterm_score              0
previous_semester_score    0
final_score                0
risk_level                 0
dtype: int64

In [11]:
df_clean.dtypes

student_id                   int64
attendance_percentage        int64
assignment_avg               int64
quiz_avg                     int64
midterm_score                int64
previous_semester_score      int64
final_score                float64
risk_level                  object
dtype: object

In [12]:
df_clean['attendance_percentage']=df_clean['attendance_percentage'].clip(0,100)

In [13]:
df_clean.head()

,student_id,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level
0,1,93,88,74,50,72,78.35,Safe
1,2,83,41,67,86,80,69.30,At Risk
2,3,69,41,43,65,70,56.35,At Risk
3,4,97,67,77,39,52,70.05,Safe
4,5,62,93,88,66,94,80.35,Safe

In [17]:
df_clean['risk_level_encoded']=df_clean['risk_level'].map({
    'Safe':0,
    'At Risk':1,
    'critical':2
})

In [15]:
df_clean['risk_level'].unique()

array(['Safe', 'At Risk'], dtype=object)

In [18]:
df_clean.head()

,student_id,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level,risk_level_encoded
0,1,93,88,74,50,72,78.35,Safe,0
1,2,83,41,67,86,80,69.30,At Risk,1
2,3,69,41,43,65,70,56.35,At Risk,1
3,4,97,67,77,39,52,70.05,Safe,0
4,5,62,93,88,66,94,80.35,Safe,0

In [19]:
df_clean.drop(columns=["student_id"], inplace=True)

In [20]:
df_clean

,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level,risk_level_encoded
0,93,88,74,50,72,78.35,Safe,0
1,83,41,67,86,80,69.30,At Risk,1
2,69,41,43,65,70,56.35,At Risk,1
3,97,67,77,39,52,70.05,Safe,0
4,62,93,88,66,94,80.35,Safe,0
...,...,...,...,...,...,...,...,...
195,93,66,79,53,79,75.35,Safe,0
196,56,81,45,57,59,60.65,At Risk,1
197,57,41,63,82,91,63.05,At Risk,1
198,91,65,70,37,66,68.45,At Risk,1
199,71,56,59,87,58,65.30,At Risk,1

In [23]:

encoded_df=pd.get_dummies(df_clean,columns=["risk_level"],drop_first=True)

In [24]:
encoded_df.head()

,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level_encoded,risk_level_Safe
0,93,88,74,50,72,78.35,0,True
1,83,41,67,86,80,69.30,1,False
2,69,41,43,65,70,56.35,1,False
3,97,67,77,39,52,70.05,0,True
4,62,93,88,66,94,80.35,0,True

In [25]:
df_clean.head()

,attendance_percentage,assignment_avg,quiz_avg,midterm_score,previous_semester_score,final_score,risk_level,risk_level_encoded
0,93,88,74,50,72,78.35,Safe,0
1,83,41,67,86,80,69.30,At Risk,1
2,69,41,43,65,70,56.35,At Risk,1
3,97,67,77,39,52,70.05,Safe,0
4,62,93,88,66,94,80.35,Safe,0

In [29]:
df_clean.to_csv('cleaned_student_data.csv',index=False)

In [28]:
df_clean.to_csv(r'C:\Users\ASUS\AI-Student-Analytics\data\processed\cleaned_student_data.csv', index=False)